<h2>States</h2>

  <% states = ["Colorado", "Oklahoma", "Ohio", "Wyoming"] %>
          <% states.each do |state| %>
            <%= state %>
          <% end %>

<h2>Cities</h2>

  <% cities = ["Denver", "Tulsa", "Columbus", "Chad"] %>
          <% cities.each do |city| %>
            <%= city %>
              <% end %>
